PORT=9999
GO_ENV=development
ALLOW_ORIGINS=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=go_auth_boilerplate
DB_SSL_MODE=disable

# Redis
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=
REDIS_DB=0

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-it-in-production
SESSION_EXPIRY=24h 